spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true

cookie:
  max-age: 3600

security:
  jwt:
    token:
      secret-key: ${JWT_SECRET_KEY}
      expire-length: 900000 # 15ë¶„

nickname:
  api-key: ${NICKNAME_SECRET_KEY}
  base-url: 'https://randommer.io/api'
  random-url: '/Name?nameType={nameType}&quantity={quantity}'
